<mat-card-title>Mission Detail</mat-card-title>
<div  *ngIf="mission" style="padding: 20px; background-color:lightskyblue;">
    <mat-card  style="width: 70%; margin: 10px 15% 10px 15%;">
        <mat-card-header>   
            <img mat-card-avatar alt="" [src]="mission['links']['mission_patch']" width="100" height="100"/>
            <mat-card-title class="my">Mission_name:</mat-card-title>
            <mat-card-title >{{mission.mission_name}}</mat-card-title>
            <mat-card-subtitle class="my1">Launch_year: {{mission.launch_year}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Detail:  
                <br>{{mission.details}}</p>  
        </mat-card-content>
    </mat-card>
</div>

